.contractsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
}

.contract {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  background-color: transparent;
  border: solid var(--border-width-md) var(--color-border-light);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.contract:disabled {
  cursor: default;
  opacity: var(--opacity-disabled);
}

.contract--fulfilled {
  text-decoration: line-through;
}

.contract--market {
  color: var(--color-contract-market);
}

.contract--private {
  color: var(--color-contract-private);
}

.contract__fulfillButton {
  display: inline-block;
  margin-right: var(--spacing-xs);
}

.contract__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-light);
  padding: var(--spacing-xs) var(--spacing-sm);
  width: 100%;
  box-sizing: border-box;
}

.contract--market .contract__header {
  background-color: var(--color-bg-active);
}

.contract__tieIcon {
  height: 1rem;
}

.contract__rewardValue {
  font-weight: bold;
}

.contract__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-sm);
  box-sizing: border-box;
}

/* ========================================
   MARKET CONTRACTS LIST
   Todo: Clean up the CSS around contracts in general
   ======================================== */
.marketContracts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin: auto;
  padding: var(--spacing-sm);
}

.marketContracts__title {
  font-weight: bold;
  padding-bottom: var(--spacing-xs);
}
  