.playerBoard {
  display: flex;
  gap: var(--spacing-md);
  margin: var(--spacing-sm) 0;
}

.playerBoard__player {
  flex-grow: 1;
}

.playerBoard__info {
  padding: var(--spacing-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playerBoard__info--active {
  background-color: var(--color-bg-active);
}

.playerBoard__name {
  margin-bottom: var(--spacing-xs);
}

.playerBoard__name--active {
  font-weight: bold;
}

.playerBoard__contracts {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding-top: var(--spacing-sm);
}
