body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boardPage {
    padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
}

.buttonBar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.button {
  height: 26px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.contract {
  padding: 0.25rem 0.75rem;
  margin: 0rem;
  text-align: left; 
  width: fit-content;
}

.deleteButton {
  font-size: 120%; 
  background-color: transparent; 
  border: none; 
  cursor: pointer;
}

.playerBoard {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
}

.cityTable {
  margin: 1rem 0rem; 
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  height: 280px;
}

.cityCell {
  display: flow;
  flex: 1 1;
  width: 115px;
  opacity: 0.8;
}

.cityCell:hover {
  background-color: rgb(240, 240, 250);
  opacity: 1.0;
}